.data-char {
  display: flex;
  flex-flow: column nowrap;
}

.data-char-lines {
  display: grid;
  gap: 0.1rem;
}

.data-char-line {
  cursor: pointer;
  height: 3px;
}

.data-char-line:hover {
  transform: translateY(-1px);
}
